<br />

<div class="row">
  <div class="small-5 small columns">
    <%= image_tag("us_flag/US-Flag-256.png") %>
    <h2>States</h2>
  </div>
</div>


<div class="row">
  <div class="small-7 small columns">
    <table>
      <thead>
        <tr>
          <th></th>
          <th>State</th>
          <th>Abbr</th>
          <th>Population</th>
          <th># Reps</th>
        </tr>
      </thead>

      <tbody>
        <% @states.each do |state| %>
          <tr>
            <td><%= image_tag("state_flags/#{state.abbreviation}-Flag-48.png") %></td>
            <td><%= link_to state.name, state %></td>
            <td><%= state.abbreviation %></td>
            <td><%= number_with_delimiter(state.population, :delimiter => ',') %></td>
            <td><%= state.num_reps %></td>
          </tr>
        <% end %>
      </tbody>
    </table>


  </div>
</div>
