<div class="row">
  <div class="small-5 small columns">
		<%= image_tag("state_flags/#{@state.abbreviation}-Flag-256.png") %>
		<h2><%= @state.name %></h2>
	</div>
</div>

<div class="row">
  <div class="small-7 small columns">
		<dl class="accordion" data-accordion>
     	<dd>
    		<a href="#representatives">Representatives</a>
				<div id="representatives" class="content">
				
						<table>
							<thead>
				        <tr>
				          <th>First Name</th>
				          <th>Last Name</th>
				          <th>District</th>
				          <th>Party</th>
				          <th>Term Start</th>
				          <th>Term End</th>
				        </tr>
			      	</thead>

		      	<tbody>
						<% @state_district_sort.each do |rep| %>

						<tr>
	            <td><%= link_to rep.first_name, rep %></td>
	            <td><%= link_to rep.last_name, rep %></td>
	            <td><%= rep.district %></td>
	            <td><%= rep.party %></td>
	            <td><%= rep.term_start.strftime("%m/%d/%Y") %></td>
	            <td><%= rep.term_end.strftime("%m/%d/%Y") %></td>

          	</tr>

          	<% end %>
	    	  	</tbody>
    			</table>

				</div>
			</dd>

			<dd>
    		<a href="#senators">Senators</a>
				<div id="senators" class="content">
				
						<table>
							<thead>
				        <tr>
				          <th>First Name</th>
				          <th>Last Name</th>
				          <th>State Rank</th>
				          <th>Party</th>
				          <th>Term Start</th>
				          <th>Term End</th>
				        </tr>
			      	</thead>

		      	<tbody>
						<% @state.senators.each do |sen| %>

						<tr>
	            <td><%= link_to sen.first_name, sen %></td>
	            <td><%= link_to sen.last_name, sen %></td>
	            <td><%= sen.state_rank.capitalize %></td>
	            <td><%= sen.party %></td>
	            <td><%= sen.term_start.strftime("%m/%d/%Y") %></td>
	            <td><%= sen.term_end.strftime("%m/%d/%Y") %></td>

          	</tr>

          	<% end %>
	    	  	</tbody>
    			</table>

				</div>
			</dd>

		</dl>
	</div>
</div>



