<br />

<div class="row">
  <div class="small-4 small-centered columns">
		<img src="http://theunitedstates.io/images/congress/225x275/<%= @senator.bioguide_id %>.jpg" height="150" >
	</div>
</div>

<div class="row">
  <div class="small-4 small-centered columns">
		<h3>
			<%= @senator.title %>. <%= @senator.first_name %> <%= @senator.last_name %>
		</h3>
		<p>
			<%= @senator.state_rank.capitalize %> Senator from <%= @senator.state.name %>
		</p>
	</div>
</div>


<div class="row">
  <div class="small-6 small-centered columns">
		<dl class="accordion" data-accordion>

		  <dd>
		    <a href="#political_info">Political Info</a>
		    <div id="political_info" class="content">
					<p>
						<b>Term Start</b>: <%= @senator.term_start.strftime("%m/%d/%Y") %><br />
						<b>Term End</b>: <%= @senator.term_end.strftime("%m/%d/%Y") %><br />
						<b>State</b>: <%= @senator.state.name %><br />
						<b>State Rank</b>: <%= @senator.state_rank.capitalize %><br />
						<b>Senate Class</b>: <%= @senator.senate_class %><br />
						
					</p>
		    </div>
		  </dd>

		  <dd>
		    <a href="#social_media">Social Media</a>
		    <div id="social_media" class="content">
					<p>		
						<a href="http://facebook.com/<%= @senator.facebook_id %>" target="_blank">Facebook</a><br />
						<a href="http://twitter.com/<%= @senator.twitter_id %>" target="_blank">Twitter</a><br />
						<a href="http://youtube.com/<%= @senator.youtube_id %>" target="_blank">YouTube</a><br />
					</p>
		    </div>
		  </dd>

		  <dd>
		    <a href="#contact_info">Contact Info</a>
		    <div id="contact_info" class="content">
					<p>
						<b>Phone</b>: <%= @senator.phone %><br />
						<b>Fax</b>: <%= @senator.fax %><br />
						<b>Office</b>: <%= @senator.office %><br />
						<b>Contact Form</b>: <a href="<%= @senator.contact_form %>" target="_blank">Click Here</a>
					</p>
		    </div>
		  </dd>

		  <dd>
		    <a href="#industry_contribution">Contributions by Industry</a>
		    <div id="industry_contribution" class="content">
				<table>
						<thead>
				      <tr>
				         <th>Industry Name</th>
				         <th>Individual $</th>
				         <th>SuperPac $</th>
				         <th>Total Contributions</th>
				       </tr>
			      </thead>
        	<tbody>						
						<% @senator.additional_info_for_senators.each do |sen| %>
						
						<tr>
	            <td><%= sen.industry_name %></td>
	            <td><%= number_to_currency(sen.industry_money_individuals) %></td>
	            <td><%= number_to_currency(sen.industry_money_pacs) %></td>
	            <td><%= number_to_currency(sen.industry_money_total) %></td>
          	</tr>

          	<% end %>
	    	  	</tbody>
    			</table>
		    </div>
		  </dd>

		</dl>
	</div>
</div>